@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  @apply bg-[#E9E9E9] scroll-smooth
}

.gradient{
  @apply bg-gradient-to-r from-green-primary to-green-secundary
  hover:opacity-75 transition-opacity focus:outline-2 outline-offset-2 outline-green-primary;
}

.link {
  @apply relative font-bold after:content-[''] after:block after:w-0 hover:after:w-full after:h-[2px] 
  after:bg-gradient-to-r after:from-transparent after:to-green-primary after:rounded-full
  after:transition-all hover:text-green-primary after:duration-500 after:delay-150
  after:absolute after:right-0 hover:after:left-0
}

*::-webkit-scrollbar{
  @apply w-2;
}

*::-webkit-scrollbar-track{
  @apply w-2 bg-browm-primary;
}

*::-webkit-scrollbar-thumb{
  @apply w-2 bg-green-secundary;
}